@charset "utf-8";

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --desktop_breakpoint: 640px;
  --navbar_height_mobile: 52px;
  --navbar_height_desktop: 60px;
  --desktop_breakpoint: 640px;
  --mobile_header_height: 40vh;
  --desktop_header_height: 60vh;
}
