@import './base.css';

.card,
.card_round {
  display: flex;
  flex-flow: column nowrap;
  margin: 8px;
  margin-bottom: 40px; 
  align-items: center;
  min-width: 250px;
  width: 100%;
  border-radius: 5px;
  border: 0.9px solid cornflowerblue;
  padding: 14px 10px;
}

.card_round {
  border: unset;
} 

.card_icon_container {
  width: 300px;
  height: 300px;
}

.card_icon {
  object-fit: contain;
  object-position: center center;
  height: 100%;
  width: 100%;
}

.card_icon_round {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
}

.card_description {
  text-align: center;
  padding: 0 8px;
}

@media (min-width: 640px) {
  .card {
    max-width: 580px;
    height: 500px;
  }

  .card_round {
    max-width: 360px;
    height: 580px;
    max-height: 600px; 
  }
}
