@import './base.css';

.centered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.do {
  width: 100%;
  height: 400px;
}

.do_content {
  width: inherit;
  height: 100%;
  background: rgba(20, 15, 6, 0.24);
}

.content_head {
  text-transform: uppercase;
  margin: 10px 10%;
  border-bottom: 2px dashed violet;
}
main > section,
main > aside {
  padding: 8px;
  text-align: center;
}

.content_heading {
  background: wheat;
  margin-top: 30px;
}

.card_container,
.team_container,
.mentor_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.team_container,
.mentor_container {
  flex-flow: row wrap;
}

.gallery {
  display: block;
  height: 600px;
  max-height: 750px;
}



@media (min-width: 640px) {
  /* main > section,
  main > aside {
    text-align: unset;
  } */

  .card_container {
    flex-flow: row wrap;
  }

  .card_container,
  .mentor_container,
  .team_container {
    max-width: 1250px;
    margin: 10px auto;
  }

  .gallery { 
    height: 400px;
    max-height: 900px;
  }
}
